#create1 {
    margin-top: 80px;
}

#dates, .question {
    float:left;
    width: 100%;
    margin-bottom: 30px;
}

.datepicker {
    width: 45% !important;
    margin-right: 5px;
    float: left;
}

#trainingdays {
    clear: both;
}

.ui-selected, .highlight {
    background-color: #0066dd !important;
    color: white;
}

.navigate .btn {
    color: white;
    background-color:#0066dd;
    width:100px;
    height:40px;
    float: left;
}

#programs ul {
    padding: 0px;
    list-style-position: inside;
}

.pointer {
    cursor: pointer;
}

#activities {
    width: 300px;
    float: left;
    margin-right: 5px;
}

.dailyrun {
    width: 50px;
    margin-right: 5px;
}