<script>
  $("button[id^=show_]").click(function(event) {
      $("#extra_" + $(this).attr('id').substr(5)).slideToggle("fast");
      event.preventDefault();
  })
</script>

<header id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Runner's High</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
    </div>
  </div>
</header>
<div class="container create-page-70">
    <div id ="create1" class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <div id="activities" class="panel panel-info">
              <div class="panel-heading">
              <h3 class="panel-title">Activities</h3>
            </div>
            <div class="panel-body">
                <table id="activitiestable" class="table">
                <tbody>
                  <tr ng-repeat="day in days">
                    <td>
                      {{day}}
                    </td>
                    <td>
                      <select ng-model="myActivities[day]">
                        <option ng-repeat="activity in activities" value="{{activity}}">
                          {{activity | capitalize}}
                        </option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
          <div class="col-xs-8">
            <div id="trainingstyle" class="panel panel-info">
              <div class="panel-heading">
              <h3 class="panel-title">Program Overview</h3>
            </div>
            <div class="panel-body">
                <highchart id="schedule-chart" config="optionsConfig"></highchart>
              </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div id="schedulepanel" class="panel panel-info">
              <div class="panel-heading">
              <h3 class="panel-title">Schedule</h3>
            </div>
            <table class="table" id="schedule">
                <thead>
                <tr>
                  <th>Week</th>
                  <th>Max Mileage</th>
                  <th>Min Pace</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-start="week in scheduleByWeek">
                  <td>{{week.date | weekRange}}</td>
                  <td>{{week.sched | maxMileage}}</td>
                  <td>{{week.sched | formatMinPace}} min/mi</td>
                  <td><button class="glyphicon glyphicon-info-sign scheduleinfo" aria-hidden="true" 
                        ng-click="showWeek(week)"></button></td>
                </tr>
                <tr ng-repeat-end ng-show="week.show">
                  <td colspan="4">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Day</th>
                          <th>Activity</th>
                          <th>Length</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="day in week.sched">
                          <td>{{day.date | formatDate}}</td>
                          <td>
                            <select ng-model="day.activity" ng-change="changed(day)">
                              <option ng-repeat="activity in activities" value="{{activity}}">
                                {{activity | capitalize}}
                              </option>
                            </select>
                          </td>
                          <td ng-show="day.activity=='rest'"></td>
                          <td ng-show="day.activity=='running'">
                            <input class="dailyrun" value="{{day.distance}}" id="running-dist-{{day.date.getTime()}}" ng-blur="changed(day)"> mi at <input class="dailyrun" ng-blur="changed(day)" id="running-pace-{{day.date.getTime()}}" value="{{day.pace | formatPace}}">min/mi
                          </td>
                          <td ng-show="day.activity=='rowing'">
                            <input class="dailyrun" value="{{day.distance}}" id="rowing-dist-{{day.date.getTime()}}" ng-blur="changed(day)"> mi
                          </td>
                          <td ng-show="day.activity=='swimming'">
                            <input class="dailyrun" value="{{day.distance}}" id="swimming-dist-{{day.date.getTime()}}"  ng-blur="changed(day)"> mi
                          </td>
                          <td ng-show="day.activity=='biking'">
                            <input class="dailyrun" value="{{day.distance}}" id="biking-dist-{{day.date.getTime()}}" ng-blur="changed(day)"> mi at <input class="dailyrun" id="biking-pace-{{day.date.getTime()}}" value="{{day.pace | formatPace}}"  ng-blur="changed(day)">min/mi
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="navigate">
              <form action="#create/programs/">
                <input type="submit" class="btn btn-default" value="Back">
              </form>
              <form action="#main/" style="display:inline-block">
                <input type="submit" class="btn btn-default" value="Done!">
              </form>
              <br class="clearFloat">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>

</footer> 