<div class="create-background">
  <header id="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Runner's High</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         
        </ul>
      </div>
    </div>
  </header>
  <div class="container create-page-45" ng-app="create" ng-controller="CreateGeneralCtrl">
    <div id ="create1" 
      <ol class="breadcrumb" style="margin-bottom: 5px;">
        <li class="active">Your Running</li>
        <li class="inactive">Suggested Progams</li>
        <li class="inactive">Full Schedule</li>
      </ol>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Your Running</h3>
      </div>
      <div class="panel-body">
        <div id="furthestmileage">
          <p>What is the furthest distance you can run?</p>
          <ol class="nya-bs-select" id="mileage-dropdown" title="Select range..." ng-model="mileage">
            <li ng-repeat="option in mileages" data-value="{{option}}" class="nya-bs-option">
              <a> {{option}} </a>
            </li>
          </ol>
        </div>
        <div id="currentpacequestion">
          <p>At what pace do you run{{mileage}}?</p>
          <div id="currentpaceanswer" class="question input-group">
            <input class="form-control" name="currentpaceanswer" ng-model="currentPace" aria-describedby="basic-addon2" placeholder="e.g. 8:30"/>
            <span class="units input-group-addon" id="basic-addon2">min/mile</span>
          </div>
        </div>
        <div id="achievedpacequestion">
          <p>At what pace would you like to run a marathon?</p>
          <div id="achievedpaceanswer" class="question input-group">
            <input class="form-control" name="achievedpaceanswer" ng-model="achievedPace" aria-describedby="basic-addon2" placeholder="e.g. 8:30"/>
            <span class="units input-group-addon" id="basic-addon2">min/mile</span>
          </div>
        </div>
        <div id="dates">
          <input id="startdate" type="text" class="datepicker form-control input-date" placeholder="Start Date" ng-model="startDate" ng-change="restrictDate(startDate)"/>
          <input id="racedate" type="text" class="datepicker form-control input-date" placeholder="Race Date" ng-model="raceDate" style="float:right"/>
        </div>
        <div id="trainingdays">
          <p>What days would you like to train?</p>
          <button ng-repeat="day in days" class="btn btn-default selectable pointer" ng-click="selectDay(day)" name="{{day}}" ng-class="{highlight:isSelectedDay(day)}">{{day}}</button>
        </div>
        <div class="navigate">
          <form>
            <input type="submit" class="btn btn-default" value="Continue" ng-click="update()">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$( document ).ready(function() {
  $('#startdate').datepicker({ 
    minDate: 0
  });
  $('#racedate').datepicker({
    minDate: 0
  });
});

</script>