<script>
  $("button[id^=show_]").click(function(event) {
      $("#extra_" + $(this).attr('id').substr(5)).slideToggle("fast");
      event.preventDefault();
  })
</script>
<div class="create-background">
  <header id="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Runner's High</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         
        </ul>
      </div>
    </div>
  </header>
  <div class="container create-page-70">
    <div id ="create1">
      <ol class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="#create/general/">About You</a></li>
        <li><a href="#create/programs/">Select a Progam!</a></li>
        <li class="active">Full Schedule</li>
      </ol>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Full Schedule</h3>
      </div>
      <div class="panel-body">
        <div class="row">
            <div id="activities" class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Activities</h3>
              </div>
              <div class="panel-body">
                <table id="activitiestable" class="table">
                  <tbody>
                    <tr ng-repeat="day in days">
                      <td class="day-label">
                        {{day}}
                      </td>
                      <td>
                        <ol class="nya-bs-select" id="activity-dropdown" title="" ng-model="myActivities[day]">
                          <li ng-repeat="activity in activities" data-value="{{activity}}" class="nya-bs-option">
                            <a> {{activity | capitalize}} </a>
                          </li>
                        </ol>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="trainingstyle" class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Program Overview</h3>
              </div>
              <div class="panel-body">
                <highchart id="schedule-chart" config="optionsConfig"></highchart>
              </div>
            </div>
            <div id="schedulepanel" class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Schedule</h3>
              </div>
              <h4 style="margin-left:16px;font-weight:normal">Click a week to view day-by-day breakdown:</h4>
              <table class="table" id="schedule">
                <thead>
                  <tr>
                    <th class="col-1">Week</th>
                    <th class="col-2">Maximum Mileage</th>
                    <th class="col-3">Minimum Pace</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat-start="week in scheduleByWeek" class="week" ng-click="showWeek(week)">
                    <td class="col-1">{{week.date | weekRange}}</td>
                    <td class="col-2">{{week.sched | maxMileage}}</td>
                    <td class="col-3">{{week.sched | formatMinPace}} min/mi</td>
                    <td></td>
                  </tr>
                  <tr ng-repeat-end ng-show="week.show">
                    <td colspan="4" style="padding:0px">
                      <table id="day-by-day" class="table day-table">
                        <thead>
                          <tr>
                            <th class="col-1">Day</th>
                            <th class="col-2">Activity</th>
                            <th class="col-3">Length</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="day in week.sched">
                            <td class="col-1">{{day.date | formatDate}}</td>
                            <td class="col-2">
                              <ol class="nya-bs-select" id="activity-dropdown" title="" ng-model="day.activity" ng-change="changed(day)">
                                <li ng-repeat="activity in activities" data-value="{{activity}}" class="nya-bs-option">
                                  <a> {{activity | capitalize}} </a>
                                </li>
                              </ol>
                            </td>
                            <td class="col-3" ng-show="day.activity=='rest'"></td>
                            <td class="col-3" ng-show="day.activity=='running'">
                              <input class="dailyrun" value="{{day.distance}}" id="running-dist-{{day.date.getTime()}}" ng-blur="changed(day)"> mi at <input class="dailyrun" ng-blur="changed(day)" id="running-pace-{{day.date.getTime()}}" value="{{day.pace | formatPace}}">min/mi
                            </td>
                            <td class="col-3" ng-show="day.activity=='rowing'">
                              <input class="dailyrun" value="{{day.distance}}" id="rowing-dist-{{day.date.getTime()}}" ng-blur="changed(day)"> mi
                            </td>
                            <td class="col-3" ng-show="day.activity=='swimming'">
                              <input class="dailyrun" value="{{day.distance}}" id="swimming-dist-{{day.date.getTime()}}"  ng-blur="changed(day)"> mi
                            </td>
                            <td class="col-3" ng-show="day.activity=='biking'">
                              <input class="dailyrun" value="{{day.distance}}" id="biking-dist-{{day.date.getTime()}}" ng-blur="changed(day)"> mi at <input class="dailyrun" id="biking-pace-{{day.date.getTime()}}" value="{{day.pace | formatPace}}"  ng-blur="changed(day)">min/mi
                            </td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="navigate">
                <form action="#create/programs">
                  <input type="submit" class="btn btn-default" value="Back">
                </form>
                <form action="#create/finished" style="display:inline-block">
                  <input style="margin-left:10px" type="submit" class="btn btn-default" value="Done!">
                </form>
                <br class="clearFloat">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>

  </footer> 
</div>