<header id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Runner's High</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
    </div>
  </div>
</header>
<div class="container" ng-app="create" ng-controller="CreateGeneralCtrl">
    <div id ="create1" class="panel panel-default">
        <div class="panel-body">
            <div id="currentpacequestion" class="question input-group">
                <input class="form-control" name="currentpaceanswer" ng-model="currentPace" aria-describedby="basic-addon2" placeholder="Current Pace"/>
                <span class="units input-group-addon" id="basic-addon2">min/mile</span>
            </div>
            <div id="achievedpacequestion" class="question input-group">
                <input class="form-control" name="achievedpaceanswer" ng-model="achievedPace" aria-describedby="basic-addon2" placeholder="Goal Pace"/>
                <span class="units input-group-addon" id="basic-addon2">min/mile</span>
            </div>
            <div id="dates">
                <input type="text" class="datepicker form-control" placeholder="Start Date" ng-model="startDate"/>
                <input type="text" class="datepicker form-control" placeholder="Race Day" ng-model="raceDay"/>
            </div>
            <div id="trainingdays">
                <p>What days would you like to train?</p>
                <ul class="list-group selectable pointer">
                  <li ng-repeat="day in days" class="list-group-item" ng-click="selectDay(day)" name={{day}}>{{day}}</li>
                </ul>
            </div>
            <div class="navigate">
              <form>
                <input type="submit" class="btn btn-default" value="Continue" ng-click="update()">
              </form>
            </div>
        </div>
    </div>
</div>
<script>
$( document ).ready(function() {
    $(function() {
      $( ".datepicker" ).datepicker();
  });
  // $(".selectable").bind("mousedown", function(e) {
  //     e.metaKey = true;
  //   }).selectable();
});
</script>