<header id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">Runner's High</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
    </div>
  </div>
</header>
<div class="container" ng-app="create" ng-controller="CreateProgramsCtrl">
    <div id ="create1" class="panel panel-default">
    	<div class="panel-heading">
			<h3 class="panel-title">Suggested Programs</h3>
		</div>
		
		<div class="panel-body">
			<table class="table" id="programs">
		    <thead>
				<tr>
					<th>Name</th>
					<th>Difficulty</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="program in programs" class="pointer" ng-click="selectProgram(program)" name={{program.name}}>
					<td>{{program.name}}</td>
					<td><span class="glyphicon glyphicon-star" ng-repeat="i in range.slice(0,program.difficulty) track by $index"/><span class="glyphicon glyphicon-star-empty" ng-repeat="i in range.slice(0,5-program.difficulty) track by $index"/></td>
					<td>
						<ul>
							<li ng-repeat="bullet in program.description">{{bullet}}</li>
						</ul>
					</td>
				</tr>
				<tr class="pointer" ng-click="createProgram()" name="Own">
					<td colspan="3">Create your own</td>
				</tr>
			</tbody>
		</table>
			<div class="navigate">
		      <form action="#create/general/">
		        <input type="submit" class="btn btn-default" value="Back">
		      </form>
		      <form action="#create/details/">
		        <input type="submit" class="btn btn-default" value="Continue" ng-click="update()">
		      </form>
		      <br class="clearFloat">
		    </div>
		</div>
	</div>
</div>