<header id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#main/">Runner's High</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
    </div>
  </div>
</header>



<div class="container" id="day-container">

  <a
    class="btn btn-primary" style="position: absolute;"
    href="#main" uib-popover-html="helpMessage[6]" popover-is-open="helpInd == 5" popover-trigger="none" popover-placement="right">
    Calendar
  </a>

  <h1 class="day-heading" uib-popover-html="helpMessage[0]" popover-is-open="helpInd == 0" popover-placement="bottom" popover-trigger="none"> {{dateString(currDayInfo.date)}} </h1>

  <div class="row">
    <div class="col-md-6">
      <h3 class="day-trail-name" uib-popover-html="helpMessage[2]" popover-is-open="helpInd == 2" popover-trigger="none" ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'"> {{trailVars.trails[trailVars.idToPos[currDayInfo.currTrail]].name}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'">
      <div id="minimap-view">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' pan="true">
          <ui-gmap-polygon path="selectedTrail.path" geodesic="mapconfig.geodesic" editable="mapconfig.editable" draggable="mapconfig.draggable" fit="mapconfig.fit" fill="mapconfig.fill", static="mapconfig.static", stroke="mapconfig.stroke">
          </ui-gmap-polygon>
          <ui-gmap-marker idKey="startLocId" coords="selectedTrail.startLoc"></ui-gmap-marker>
        </ui-gmap-google-map>
      </div>

      <div class="text-center" style="margin-top: 15px">
        <a class="btn btn-default" href="#trail" uib-popover-html="helpMessage[3]" popover-is-open="helpInd == 3" popover-trigger="none"> Choose Trail</a>
      </div>
    </div>

    <div class="col-md-6" ng-class="{'col-md-offset-3': (currDayInfo.activity != 'running' && currDayInfo.activity != 'biking')}">
      <div class="panel panel-info selected-event">

        <div class="panel-heading selected-event-heading" uib-popover-html="helpMessage[1]" popover-is-open="helpInd == 1" popover-trigger="none">Task</div>

        <div class="panel-body selected-event">

        <!-- For when you want to submit -->
          <div id="present-panel" style="display: none">
            <div style="margin-bottom: 30px; text-align: center">
              <div class="selected-event-activity">{{currDayInfo.activity}}</div>
              <br>
              {{present[currDayInfo.activity]}} for <span class="day-distance">{{currDayInfo.distance}}</span> miles<span ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'"> at <span class="day-pace">{{paceToString(currDayInfo.pace)}}</span> min per mile</span>.
              <div id="once-submitted" style="display: none">
                Submitted: {{past[currDayInfo.activity]}} for <span class="day-distance">{{myProgressSubmission.distance}}</span> miles<span ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'"> at <span class="day-pace">{{paceToString(myProgressSubmission.pace)}}</span> min per mile</span>.
              </div>
            </div>

            <div class="text-center" style="margin: 10px">
              <button class="btn btn-primary submit-button" ng-click="taskCompleted()" uib-popover-html="helpMessage[4]" popover-is-open="helpInd == 4" popover-trigger="none" popover-placement="bottom"> Task Completed </button>
            </div>
          </div>

        <!-- For when you want to edit a past thing -->
          <div id="past-panel" style="display: none">
            <div style="margin-bottom: 30px; text-align: center">
              <div class="selected-event-activity">{{currDayInfo.activity}}</div>
              <br>
              Goal: {{present[currDayInfo.activity]}} for <span class="day-distance">{{currDayInfo.distance}}</span> miles<span ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'"> at <span class="day-pace">{{paceToString(currDayInfo.pace)}}</span> min per mile</span>.
              <br>
              Actual: {{past[currDayInfo.activity]}} for <span class="day-distance">{{myProgressSubmission.distance}}</span> miles<span ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'"> at <span class="day-pace">{{paceToString(myProgressSubmission.pace)}}</span> min per mile</span>.
            </div>
            <div style="margin: 20px; text-align: center">
              If you wish, you may edit your history.
            </div>

            <div class="text-center" style="margin: 10px">
              <button class="btn btn-primary submit-button" ng-click="taskCompleted()"> Edit History </button>
            </div>
          </div>

        <!-- For when you want to change a future goal -->
          <div id="future-panel" style="display: none">
            <div style="margin-bottom: 30px; text-align: center">
              <div class="selected-event-activity">{{currDayInfo.activity}}</div>
              <br>
              Goal: {{present[currDayInfo.activity]}} for <span class="day-distance">{{currDayInfo.distance}}</span> miles<span ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'"> at <span class="day-pace">{{paceToString(currDayInfo.pace)}}</span> min per mile</span>.
            </div>
            <div style="margin: 20px; text-align: center">
              If you wish, you may change your goal.
            </div>

            <div class="text-center" style="margin: 10px">
              <button class="btn btn-primary submit-button" ng-click="taskCompleted()" uib-popover-html="helpMessage[5]" popover-is-open="helpInd == 4" popover-trigger="none" popover-placement="left"> Change Goal </button>
            </div>
          </div>

        <!-- Input Fields -->
          <div style="display: none" id="input-fields">
            <div class="row">
              <div class="col-md-6 text-right input-text">
                Distance:
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <input type="number" class="form-control" ng-model="submittedDistance" ng-value="selectedEvent.distance" placeholder="{{currDayInfo.distance}}">
                  <span class="input-group-addon">mi</span>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 10px" ng-show="currDayInfo.activity == 'running' || currDayInfo.activity == 'biking'">
              <div class="col-md-6 text-right input-text">
                Pace:
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <input class="form-control" ng-model="submittedPace" ng-value="selectedEvent.pace" placeholder={{paceToString(currDayInfo.pace)}}>
                  <span class="input-group-addon">min/mi</span>
                </div>
              </div>
            </div>
            <br>
            <div class="error-messages">
              <div id="pace-error" class="alert alert-danger">
                Pace must be in format: minutes:seconds, e.g. 8:30
              </div>
              <div id="missing-info" class="alert alert-danger">
                Please fill in all information on this page
              </div>
            </div>

            <div class="text-center">
              <button class="btn btn-primary" id="submit-button" ng-click="submit()"> Submit </button>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>