  <header id="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Runner's High</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         
        </ul>
      </div>
    </div>
  </header>
  <section id="banner">
    <div class="container">
      <h1 class="lead">Start smart, finish strong</h1>
      <p>Runner's High helps marathon runners organize their training&#8212;and get results.</p>
      <div id="get-started">
        <form action="#create/general/">
          <input type="submit" class="btn btn-default" value="Create a Schedule">
        </form>
      </div>
    </div>
  </section>
  <footer>
    <div id="footer-text">
      Created by David, Edward, and Stuart
    </div>
  </footer>