<header id="nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#main/">Runner's High</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       
      </ul>
    </div>
  </div>
</header>



<div class="container" id="main-container">

  <h1 class="text-center" style="margin: 20px">{{ calendarTitle }}</h1>
  <div class="row">
    <div class="col-md-6" style="padding-left: 40px">
      <button
        class="btn btn-default"
        mwl-date-modifier
        date="viewDate"
        set-to-today>
        Today
      </button>
      <div class="btn-group"
        style="margin-left: 15px">
      <!-- ALL THE BUTTONS -->
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="viewDate"
          decrement="calendarView">
          <
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="viewDate"
          increment="calendarView">
          >
        </button>
      </div>
    </div>

    <div class="col-md-6 text-right" style="padding-right: 40px">
      <a
        class="btn btn-primary btn-success"
        href="#progress">
        Progress Review
      </a>
    </div>

  </div>

  <br>

  <!-- THE CALENDAR -->
  <div style="margin-bottom: 30px">
    <mwl-calendar
      view="calendarView"
      view-date="viewDate"
      view-title="calendarTitle"
      events="events"
      on-timespan-click="dayClicked(calendarDate)">
    </mwl-calendar>
  </div>
</div>





<script id="customMonthView.html" type="text/ng-template">
  <div class="cal-row-fluid cal-row-head">

    <div class="cal-cell1" ng-repeat="day in vm.weekDays track by $index" ng-bind="day"></div>

  </div>
  <div class="cal-month-box">

    <div
      ng-repeat="rowOffset in vm.monthOffsets track by rowOffset"
      ng-mouseenter="rowHovered = true"
      ng-mouseleave="rowHovered = false">
      <div class="cal-row-fluid cal-before-eventlist">
        <div
          ng-repeat="day in vm.view | calendarLimitTo:7:rowOffset track by $index"
          ng-init="dayIndex = vm.view.indexOf(day)"
          class="cal-cell1 cal-cell {{ day.highlightClass }}"
          ng-click="vm.dayClicked(day, false, $event)"
          ng-class="{pointer: day.events.length > 0}">
          <ng-include src="vm.calendarConfig.templates.calendarMonthCell"></ng-include>
        </div>
      </div>

    <mwl-calendar-slide-box
      is-open="false">
    </mwl-calendar-slide-box>

    </div>

  </div>
</script>


<script id="customMonthCell.html" type="text/ng-template">
  <div
    mwl-droppable
    on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)"
    class="cal-month-day {{ day.cssClass }}"
    ng-class="{
      'cal-day-outmonth': !day.inMonth,
      'cal-day-inmonth': day.inMonth,
      'cal-day-weekend': day.isWeekend,
      'cal-day-past': day.isPast,
      'cal-day-today': day.isToday,
      'cal-day-future': day.isFuture
    }">

    <span
      class="pull-right date"
      data-cal-date
      ng-bind="day.label">
    </span>

    <div ng-show="day.events[0].activity != null && day.events[0].activity != 'rest'">
      <div class="activity {{day.events[0].cssClass}}">
        {{day.events[0].activity}}
      </div>
      <div class="distance">
        {{day.events[0].distance}} mi
      </div>
    </div>

    <div class="pace" ng-show="day.events[0].activity == 'running' || day.events[0].activity == 'biking' || 
      day.events[0].activity == 'ran' || day.events[0].activity == 'biked'" >
      at {{day.events[0].pace}} min / mi
    </div>


    <div id="cal-week-box" ng-if="$first && rowHovered">
      <span ng-bind="vm.calendarConfig.i18nStrings.weekNumber.replace('{week}', day.date.clone().add(1, 'day').isoWeek())"></span>
    </div>

  </div>
</script>